@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../BricolageGrotesque-VariableFont.ttf') format('truetype');
}

.markdown > * {
  all: revert;
}

:root {
  font-family: "Bricolage Grotesque";
  line-height: 1.5;
  font-weight: 500;
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2c29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Avenir', sans-serif !important; /* Applying Avenir font to all <p> elements */
}

blockquote p {
  padding: 12px;
  border-left: 3px solid rgb(102, 178, 255);
}

a {
  color: rgb(102, 178, 255);
}

/* .twitter-tweet p {
  background-color: #242424;
  border: 0px solid #7e7e7e; 
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
